<html>
  <head>
    <title>Faction Inputs</title>
    
  </head>
  <body>
    <main>
      <form id="Faction Input">
        <!--
    {
      "name": "Enclave Police Department",
      "abrv": "EPD",
      "clocks": [
        {
          "name": "Heat on you",
          "level": 2,
          "type": "heat"
        },
        { 
          "name": "Friction with the Open Enclave",
          "level": 2,
          "type": "progress"
        },
        {
          "name": "City Lockdown",
          "level": 2,
          "type": "progress"
        }
      ]
    }
        -->
        <input type="radio" id="creating-faction" name="creating" value="faction">
        <label for="creating-faction">Faction</label><br>
        <input type="radio" id="creating-clock" name="creating" value="clock">
        <label for="creating-clock">Clock</label>
        <input name="info-name" type="text" maxlength="100" placeholder="Input Name">
        <div id="faction-selector">
          <label for="factions">Choose a faction:</label>
          <select name="factions" id="factions">
            <option value="---">---</option>
          </select> 
        </div>
        <div id="faction-build">
          <input name="info-abrv" type="text" maxlength="100" placeholder="Input Abreviation">
        </div>
        <div id="clock-build">
          <input name="info-name" type="text" maxlength="100" placeholder="Input Name">
          
        </div>
        <button type="submit" id="submit-dream">Submit Dream</button>
      </form>
    </main>
  </body>
</html>