/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background: black;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(80% - 5rem);
  line-height: 1.1;
}

h1.first-title {
  display: inline-block;
}

#to-the-spin {
  font-style: italic;
  font-size: 30px;
  color: var(--neon-hot-pink);
  max-width: 200px;
  line-height: 1.1;
  display: inline-block;
  padding: 0 1rem;
}

#to-the-spin__link {
  text-decoration: underline;
  cursor: pointer;
}

#to-the-spin__link.glitch {
  background-color: var(--neon-light-green);
  color: var(--neon-black);
  border-radius: 30px 15px 30px 15px;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

/* user */

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(360px, auto);
  background-color: black;
}
