            <div class="data-box">
              <h3>
                {{title}}
              </h3>
              <span class="close">X</span>
              <div class="data-box__inner__text data-box__inner">
                <p class="brief">
                  {{{brief}}}
                </p>
                <p class="status">
                  {{status}}
                </p>
                {{{content}}}
              </div>
            </div>